@layer base {
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        /* padding: 0; */
        /* margin: 0; */
    }

    :root {
        --primary-white: #fffdfa;
        --silver: #c5c6ce;
        --gunmetal: #5e607a;
        --dark-blue: #00001a;
        --light-vermilion: #f15d51;
        --light-vermilion50: #f15d5199;
        --yellow: #e9aa52;

        --h1: 56px;
        --h2: 40px;
        --h3: 32px;
        --h4: 20px;
        --h5: 18px;
        --body: 15px;
    }
    html {
        font-family: 'Inter', sans-serif;
        background-color: var(--primary-white);
    }

    img,
    source {
        max-width: 100%;
    }

    a {
        text-decoration: none;
    }

    h1,
    .h1 {
        font-size: var(--h1);
        font-weight: 800;
        line-height: 56px;
    }
    h2,
    .h2 {
        font-size: var(--h2);
        font-weight: 700;
    }
    h3,
    .h3 {
        font-size: var(--h3);
        font-weight: 700;
    }
    h4,
    .h4 {
        font-size: var(--h4);
        font-weight: 800;
    }
    h5,
    .h5 {
        font-size: var(--h5);
        font-weight: 800;
    }
    p,
    .body {
        font-size: var(--body);
        font-weight: 400;
        line-height: 26px;
        color: var(--gunmetal);
    }
}
@layer utilities {
    .btn-primary {
        background-color: var(--light-vermilion);
        padding: 1rem 4rem;
        color: var(--primary-white);
        text-transform: uppercase;
        cursor: pointer;
    }
    .btn-primary:where(:hover, :focus-within) {
        background-color: var(--light-vermilion50);
    }
}

@layer nav {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    li {
        list-style-type: none;
    }
    nav > ul {
        display: none;
    }
    .mobile-nav {
        z-index: 3;
        translate: 100vw;
        position: absolute;
        height: 98vh;
        right: 0;
        top: 9rem;
        left: 6rem;
        background-color: #e9aa52;
        transition: translate 500ms ease;
        background-color: var(--primary-white);
        display: flex;
        justify-content: start;
        display: none;
    }

    .mobile-nav > ul {
        padding: 4rem 2rem 0 2rem;
    }
    .mobile-nav ul li {
        padding: 1.5rem 0rem;
        color: var(--dark-blue);
        font-size: var(--h5);
    }

    /* hamburger + transitions for each svg line */
    .btn-hamburger {
        background: transparent;
        border: none;
        cursor: pointer;
        margin-right: -1.5rem;
    }
    .btn-hamburger {
        padding-top: 1rem;
    }

    .btn-hamburger .line {
        transition: y 300ms ease-in 300ms, rotate 300ms ease-in,
            opacity 0ms 300ms;
        transform-origin: center;
    }

    .btn-hamburger[aria-expanded='true'] .line {
        transition: y 300ms ease-in, rotate 300ms ease-in 300ms,
            opacity 0ms 300ms;
    }

    .btn-hamburger[aria-expanded='true'] :is(.top, .bottom) {
        y: 47;
    }

    .btn-hamburger[aria-expanded='true'] .top {
        rotate: 45deg;
    }

    .btn-hamburger[aria-expanded='true'] .middle {
        opacity: 0;
    }

    .btn-hamburger[aria-expanded='true'] .bottom {
        rotate: -45deg;
    }
}

@layer main {
    main p {
        padding-bottom: 2rem;
    }
}

@layer aside {
    aside {
        background-color: var(--dark-blue);
        padding: 1rem 2rem;
        margin-top: 4rem;
    }

    aside h2 {
        color: var(--yellow);
    }

    .article-preview {
        border-bottom: 1px solid var(--silver);
    }

    .article-preview h3 {
        color: var(--primary-white);
    }
    .article-preview p {
        color: var(--silver);
    }

    .article-preview:last-child {
        border: none;
    }
}

@layer section {
    section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 4rem;
    }
    
    .top-article-card {
        display: flex;
        gap: 2rem;
        background-color: #e9aa52;
        max-height: 200px;
    }

    .top-article-card img {
        object-fit: contain;
    }

    .top-article__text-content {
        background-color: #f15d51;
    }
    .top-article__text-content h3 {
        color: var(--silver);
        margin-top: 0;
        /* padding-bottom: 2rem; */
    }
    .top-article__text-content > h5 {
        /* padding-bottom: 2rem; */
    }
}

.wrapper {
    max-width: 1000px;
    margin: 2rem auto;
}
